<?xml version="1.0"?>
<launch>
  <!-- argument -->
  <arg name="arm_model" default="ur10e"/>
  <arg name="vehicle" default=""/>
  <arg name="robot_ip" default="192.168.56.100" doc="IP address by which the robot can be reached."/>
  <arg name="script_sender_port" default="29999"
    doc="The driver will offer an interface to receive the program's URScript on this port. If the robot cannot connect to this port, `External Control` will stop immediately."/>
  <arg name="kinematics_config" default="$(find ur_description)/config/$(arg arm_model)/default_kinematics.yaml"
    doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>
  
  <!-- ur_robot_driver -->
  <group if="$(eval arg('vehicle') == '')">
    <include file="$(find ur_robot_driver)/launch/$(arg arm_model)_bringup.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)"/>
      <arg name="script_sender_port" value="$(arg script_sender_port)"/>
      <arg name="kinematics_config" default="$(arg kinematics_config)"/>
    </include>
  </group>
  <group unless="$(eval arg('vehicle') == '')">
    <include file="$(find ur_robot_driver)/launch/$(arg arm_model)_combined_bringup.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)"/>
      <arg name="script_sender_port" value="$(arg script_sender_port)"/>
      <arg name="kinematics_config" default="$(arg kinematics_config)"/>
    </include>
  </group>

  <!-- params -->
  <rosparam file="$(find whi_ur_robot_driver_bridge)/config/config.yaml" command="load" subst_value="true"/>

  <!-- hardware interface -->
  <node name="whi_ur_robot_driver_bridge" pkg="whi_ur_robot_driver_bridge" type="whi_ur_robot_driver_bridge_node" output="screen"/>

</launch>
